<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdiomExam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <IdiomExam.Properties.Settings>
            <setting name="autoChange" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveImgPath" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoChangeTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="transparent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoSaveImg" serializeAs="String">
                <value />
            </setting>
            <setting name="currentDataRow" serializeAs="String">
                <value>0</value>
            </setting>
        </IdiomExam.Properties.Settings>
    </userSettings>
</configuration>